h1{
    color:greenyellow;


}
h2{
    color:plum;


}
h3{
    color:rgb(47, 102, 255);


}
h4{
    color:rgb(255, 217, 47);


}
h5{
    color:rgb(255, 47, 113);


}
h6{
    color:rgb(179, 170, 181);


}